/* ---- reset ---- */
body {

margin:0 0 0 0 ;
overflow-x: hidden;
overflow-y: hidden;
background-color: #004f8c;
background-image: url(http://www.transparenttextures.com/patterns/axiom-pattern.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
background-image: url("../background.png");
height: 100%;
width: 100%;
    
    
}


.red-hi {
    
   width: 150px;
   height: 150px;
   background-color: #cd1d32;  
   margin-left: 100px;
   padding-top: 20px;
    
}

p {
    
color: white;
font-family: 'Pacifico', cursive;
font-size: 50px;
font-style: bold;
margin-left: 12%;
    
    
}

.icon {
    
   
}